<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SUACC - Sistema Único de Atendimento Call Center</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/globalcss")
    @Scripts.Render("~/Content/globaljs")

</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-sm">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home/Index"><img src="assets/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse bg-blue-800" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-gear"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right bg-blue-800 width-250">

                        <li>
                            <a href="/Admin/Home/Index"><i class="icon-wrench"></i> Painel de Administracao</a>
                        </li>
                        <li>
                            <a href="/Admin/Usuario/Index"><i class="icon-user"></i> Usuarios</a>
                        </li>
                    </ul>
                </li>

              

            </ul>

            <ul class="nav navbar-nav navbar-right">
                @Html.Action("DadosUsuario", "Home")
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- Main navigation -->
                    @Html.Action("Menu", "Home")
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                @RenderBody()

            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

    @Scripts.Render("~/Content/globalthemajs")
    @RenderSection("scripts", required: false)

</body>
</html>
